# Ignore everything in this directory
*
# Except this file
!.gitignore
# And config_example
!config_example.json
# And Config prototype
!config.py
# And config_service.py
!config_service.py
# and terraform_example.json
!terraform_example.json